*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(151, 77, 8);
    color: rgb(14, 2, 2);
    border: 100px 100vh;
    font-size: 16px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-form {
    border: 1px solid rgb(39, 15, 15);
    padding: 5rem;
    border-radius: 10px;
  }
  
  .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .form-group > label {
    font-size: 0.8rem;
  }
  .form-group > input {
    padding: 5px;
    border-radius: 4px;
    width: 50%;
    font-size: 0.8rem;
    color: rgb(53, 7, 7);
  }
  form-group > p {
    font-size: 0.8rem;
  }
  
  .form-group > input[type="radio"] {
    display: inline;
  }
  .btn-primary {
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(223, 169, 99);
  }
  result {
    padding: 0.5rem;
    width: 100%;
    background: rgb(24, 5, 5);
    margin-top: 40px;
    border-radius: 4px;
    height: 5vh;
    font-size: 0.8rem;
    box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
.result > p {
    color: rgb(82, 6, 6);
  }
  
  .valid {
    color: rgb(21, 43, 25);
    padding-top: 0.3rem;
  }
  
  .invalid {
    color: rgb(80, 26, 228);
    padding-top: 0.3rem;
  }
