*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(58, 207, 226);
    color: rgb(151, 85, 85);
    border: 100px 100vh;
}
.first{
padding: rem;
max-width: 530px;
}
.first>.second{
    text-align:right;
    float: right;
}
